body,html{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}code{font-family:source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace}*{box-sizing:border-box}.coin{height:160px;position:relative;margin:20px auto;-webkit-transform-style:preserve-3d;transform-style:preserve-3d}.coin,.coin img{width:160px}.heads,.tails{position:absolute;width:100%;height:100%;-webkit-backface-visibility:hidden;backface-visibility:hidden}.tails{-webkit-transform:rotateY(180deg);transform:rotateY(180deg)}@-webkit-keyframes spin-tails{0%{-webkit-transform:rotateY(0);transform:rotateY(0)}to{-webkit-transform:rotateY(1980deg);transform:rotateY(1980deg)}}@keyframes spin-tails{0%{-webkit-transform:rotateY(0);transform:rotateY(0)}to{-webkit-transform:rotateY(1980deg);transform:rotateY(1980deg)}}@-webkit-keyframes spin-heads{0%{-webkit-transform:rotateY(0);transform:rotateY(0)}to{-webkit-transform:rotateY(6turn);transform:rotateY(6turn)}}@keyframes spin-heads{0%{-webkit-transform:rotateY(0);transform:rotateY(0)}to{-webkit-transform:rotateY(6turn);transform:rotateY(6turn)}}.nav-title{display:flex}@media screen and (max-width:992px){.nav-title{display:none!important}}.maincard-content{margin-top:50px}.connect-wallet{padding:10px 14px;background:#0e76fd;font-weight:700;cursor:pointer;font-size:100%;color:#fff;border-radius:15px;margin-right:25px}.connect-wallet:hover{background:#1060f3}.img-style{margin-left:1.2rem;height:3.5rem;width:3rem;pointer-events:none}
.sc-bbSZdi.hBAlsQ {
    background-image: none !important;
    background-color: #E81899 !important;
}
.sc-iGgWBj.sc-gsFSXq.jZFhGl.dMgXMm {
    margin-right: 2px !important;
    font-size: 85% !important;
}

.sc-dLMFU.jugQPk {
    width: 90% !important;
}

.sc-kpDqfm.fOBmUW {
    width: 90% !important;
}

button.sc-feUZmu.bwwNbd {
    width: 100% !important;
}

.maincard-content {
    margin-top: 0 !important;
}

button.sc-feUZmu.bwwNbd {
    height: 4.5rem;
}
.sc-jsJBEP.gcVfOm {
    width: auto !important;
}
.sc-imWYAI.enbmbm.nav-title {
    width: 100%;
}

.sc-kAyceB.bAJkmZ {
    min-width: 50%;
    max-width: 100%;
}

.sc-iGgWBj.jZFhGl {
    margin-right: 0 !important;
}

.sc-jsJBEP.gcVfOm {
    width: 370px !important;
}

.sc-jXbUNg.ggDkYU {
    font-size: 100% !important;
    font-weight: bold !important;
    margin-top: 8px !important;
    color: aliceblue !important;
    text-transform: uppercase !important;
}
.sc-imWYAI.enbmbm.nav-title {
    width: 70%;
}
.sc-iGgWBj.sc-gsFSXq.jZFhGl.dMgXMm {
    background: radial-gradient(black, transparent) !important;
}

.sc-jsJBEP.gcVfOm {
    background: white !important;
}

.sc-dLMFU.jugQPk {
    border: 1px solid #E81899;
}

.sc-kpDqfm.fOBmUW {
    border: 1px solid #E81899;
}

.sc-eDPEul.hKGcGu {
    color: black !important;
}

.sc-dAbbOL.buwrno {
    color: black !important;
}

input.sc-gFqAkR.geSXPi {
    border-radius: 6px !important;
    background-color: #222 !important;
    a {
    padding: 1em 0;
    font-weight: bold;
    text-align: center;
    color: white;
    display: block;
    background: #E81899;
    width: 100% !important;
    text-decoration: none;
    }

/* oneofthenfts */

/*# sourceMappingURL=main.65e713e9.chunk.css.map */
